# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Data caches
data/*.csv

# Models (large files)
models/*.joblib
models/*.pkl
